*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:Consolas, monospace;
}

header{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:5rem;
    color:#00ff88;
}

.typing{
    margin:20px 0;
    font-size:1.4rem;
}

.btn{
    display:inline-block;
    padding:15px 30px;
    border:2px solid #00ff88;
    color:#00ff88;
    text-decoration:none;
    transition:0.3s;
}

.btn:hover{
    background:#00ff88;
    color:black;
}

section{
    padding:100px 10%;
}

h2{
    color:#00ff88;
    margin-bottom:40px;
}

.skill{
    margin-bottom:25px;
}

.bar{
    background:#111;
    height:25px;
    border-radius:20px;
}

.fill{
    background:#00ff88;
    height:100%;
    border-radius:20px;
}

.project-grid{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.card{
    background:#111;
    padding:30px;
    border:1px solid #00ff88;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00ff88;
}

.timeline{
    border-left:3px solid #00ff88;
    padding-left:30px;
}

.event{
    margin-bottom:25px;
}

#particles{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}
